.wrapper {
  width: var(--w-contents);
  margin: 40px auto 0;

  @media (max-width: 1000px) {
    padding: 0 var(--space-5);
  }
}

.tabs {
  margin: 0 0 var(--space-10);
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
  }
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-10) 0;
  @media (max-width: 1000px) {
    padding: var(--space-m) 0 0;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--space-10) 0;
}
