.contents {
  width: var(--w-contents);
  padding: var(--space-10) 0;
  margin: 0 auto;
  @media (max-width: 1000px) {
    padding: 0 var(--space-5) var(--space-10);
  }
  .concept {
    margin: var(--space-8) 0;
  }
  .info {
    padding: var(--space-8);
    border: 1px solid var(--color-tertiary);
    .info_title {
      padding: 0 0 var(--space-8);
      border-bottom: 1px solid var(--color-tertiary);
      @media (max-width: 1000px) {
        padding: 0 0 var(--space-6);
      }
    }
    .info_data {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-row-gap: 16px;
      margin: var(--space-8) 0 0;
      dt {
        font-weight: bold;
      }
      @media (max-width: 1000px) {
        display: block;
        margin: var(--space-6) 0 0;
        dt {
          margin: 0 0 var(--space-2);
        }
        dd {
          margin: 0 0 var(--space-6);
        }
      }
    }
  }
}

.back_button {
  width: var(--w-contents);
  display: flex;
  justify-content: center;
  margin: var(--space-10) auto 0;
}

.document_title {
  width: var(--w-contents);
  margin: 0 auto var(--space-6);
  @media (max-width: 1000px) {
    padding: 0 var(--space-5);
  }
}

.document_section {
  margin: 0 0 var(--space-10);
  overflow: auto;
  .images {
    min-width: 100vw;
    width: max-content;
    display: inline-flex;
    justify-content: center;
    gap: var(--space-6);
    overflow-x: auto;
    flex-shrink: 0;
    .image_box {
      position: relative;
      width: 384px;
      height: 216px;
      @media (max-width: 1000px) {
        width: 292px;
        height: 180px;
      }
      .image {
        object-fit: cover !important;
        position: relative !important;
        width: 100% !important;
        vertical-align: top;
        opacity: 1;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
}
